@use "/src/styles/settings";

.pause {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: settings.gap();

  flex: 1;
  width: 100%;

  border: none;
  background: none;
  color: inherit;
  font: inherit;
  text-align: center;

  cursor: pointer;
}
