@use "/src/styles/settings";

.pause {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
  width: 100%;
  padding: 0 settings.gap(0.5);

  border: none;
  background: none;
  color: inherit;
  font: inherit;
  text-align: center;

  cursor: pointer;
}

.title {
  margin: 0;

  font-size: 1.75rem;
  letter-spacing: -0.01em;

  @media (max-height: 740px) {
    font-size: 1.5rem;
  }
}
