@use "@zemax/mf-ui/src/css/lib/fonts-sizes";
@use "@zemax/mf-ui/src/css/lib/mediaqueries";

@use "./colors";
@use "./fonts";
@use "./layout";

/**************************************************
* CTA
**************************************************/

@mixin cta-sizing {
	padding:         fonts-sizes.rem(8px) fonts-sizes.rem(12px);

	min-width:       layout.column(1);

	text-decoration: none;

	font-size:       fonts.font-size("cta", "small");
	line-height:     fonts.line-height("default", "small") * fonts.font-size("cta", "small");

	@include mediaqueries.large-or-more {
		font-size:   fonts.font-size("cta", "large");
		line-height: fonts.line-height("default", "large") * fonts.font-size("cta", "large");
	}
}

@mixin cta-color($color: white, $background: colors.$color-primary) {
	color:         $color;
	background:    $background;
	border:        none;
	border-radius: layout.card-radius();
	box-shadow:    colors.$light-box-shadow;
}

@mixin cta($color: white, $background: colors.$color-primary) {
	@include cta-sizing;
	@include cta-color($color, $background);

	text-align: center;

	cursor:     pointer;

	&:focus {
		@include cta-color($background, $color);

		outline:    none;
		box-shadow: colors.$outline-box-shadow;
	}
}
