@use "sass:color";

/**************************************************
* COLORS SETTINGS
**************************************************/

$color1: #586ba4;
$color2: #324376;
$color3: #f5dd90;
$color4: #f68e5f;
$color5: #f76c5e;

$color-grey-light: #f0f0f0;
$color-grey: #999999;
$color-grey-medium: #333333;

$color-blue: #112ef4;
$color-green: #00cc33;
$color-orange: #ffb041;
$color-orangered: #ff4000;
$color-red: #8b0000;

$color-default: $color1;
$color-background-default: #f6f6f6;
$color-primary: $color2;
$color-secondary: $color3;
$color-action: $color-orangered;

$color-input-background: white;
$color-input-border: $color1;
$color-input-background-focus: white;
$color-input-border-focus: $color2;

$color-menu: white;
$color-menu-background: $color2;

$color-chip-background: color.adjust($color1, $lightness: 35%);

$light-box-shadow: 0 4px 8px rgba($color-primary, 0.25);

$outline-box-shadow: 0 3px 5px -2px rgba($color-default, 0.35);
