@use "sass:color";

/**************************************************
* RAW COLORS
**************************************************/

$color-grey: #999999;

$color-orangered: #ff4000;
$color-coral: #f68e5f;
$color-gold: #f5dd90;
$color-navy: #324376;
$color-indigo: #586ba4;

/**************************************************
* SEMANTIC COLORS
**************************************************/

$color-default: $color-indigo;
$color-background-default: #f6f6f6;
$color-primary: $color-navy;
$color-secondary: $color-gold;
$color-action: $color-orangered;
$color-error: $color-orangered;
$color-text-secondary: $color-grey;

$color-background-gradient-start: $color-gold;
$color-background-gradient-end: $color-coral;

$color-input-background: white;
$color-input-border: $color-indigo;
$color-input-background-focus: white;
$color-input-border-focus: $color-navy;

$color-menu: white;
$color-menu-background: $color-navy;

$color-chip-background: color.adjust($color-indigo, $lightness: 35%);

$light-box-shadow: 0 4px 8px rgba($color-primary, 0.25);

$outline-box-shadow: 0 3px 5px -2px rgba($color-default, 0.35);
