@use "@zemax/mf-ui/src/css/lib/fonts-sizes";

/**************************************************
* FONTS
**************************************************/

@function line-height($id: "default", $layout: "small") {
	@if ($id == "input") {
		@return (1.3);
	} @else {
		@return (1.5);
	}
}

@function font-size($id: "default", $layout: "small") {
	@if ($id == "title") {
		@return fonts-sizes.rem(32px);
	} @else if ($id == "quote") {
		@return fonts-sizes.rem(20px);
	} @else if ($id == "label") {
		@return fonts-sizes.rem(16px);
	} @else if ($id == "input") {
		@return fonts-sizes.rem(16px);
	} @else if ($id == "cta") {
		@return fonts-sizes.rem(18px);
	} @else {
		@return fonts-sizes.rem(16px);
	}
}

@mixin font($id: "default") {
	@if ($id == "title") {
		font-family: "Montserrat", sans-serif;
		font-style:  normal;
		font-weight: fonts-sizes.$weight-bold;
	} @else if ($id == "quote") {
		font-family: "Open Sans", sans-serif;
		font-style:  italic;
		font-weight: fonts-sizes.$weight-bold;
	} @else if ($id == "label") {
		font-family: "Open Sans", sans-serif;
		font-style:  normal;
		font-weight: fonts-sizes.$weight-bold;
	} @else if ($id == "input") {
		font-family: "Open Sans", sans-serif;
		font-style:  normal;
		font-weight: fonts-sizes.$weight-normal;
	} @else if ($id == "bold") {
		font-family: "Open Sans", sans-serif;
		font-style:  normal;
		font-weight: fonts-sizes.$weight-bold;
	} @else {
		font-family: "Open Sans", sans-serif;
		font-style:  normal;
		font-weight: fonts-sizes.$weight-normal;
	}
}
