@use "@zemax/mf-ui/src/css/lib/mediaqueries";
@use "@zemax/mf-ui/src/css/lib/fonts-sizes";
@use "@zemax/mf-ui/src/css/lib/a11y";
@use "@zemax/mf-ui/src/css/lib/sprites";
@use "@zemax/mf-ui/src/css/lib/layout";
@use "../0-settings/colors";
@use "../0-settings/fonts";
@use "../0-settings/buttons";

/**************************************************
* FORM INPUTS
**************************************************/

@mixin input-vertical-sizing {
  padding-top: fonts-sizes.rem(8px);
  padding-bottom: fonts-sizes.rem(8px);
  line-height: fonts.line-height("input") * fonts.font-size("input");
}

@mixin input() {
  margin: 0;
  @include input-vertical-sizing;
  padding-left: 1em;
  padding-right: 1em;

  width: 100%;
  max-width: 100%;

  text-align: left;

  @include fonts.font("input");
  font-size: fonts.font-size("input");
  line-height: fonts.line-height("input") * fonts.font-size("input");

  color: colors.$color-default;
  background: colors.$color-input-background;
  border: border-width() solid colors.$color-input-border;
  border-radius: fonts-sizes.rem(4px);

  transition: background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

/**************************************************
* CHECK BOX
**************************************************/
//
.background-sprite-checkbox {
  background-image: #{svg(
      "src/styles/assets/form-checkbox.svg",
      (
        "color-background": colors.$color-input-background,
        "color-border": colors.$color-input-border,
        "color-mark": colors.$color-primary,
        "color-background-focus": colors.$color-input-background-focus,
        "color-border-focus": colors.$color-input-border-focus,
        "color-mark-focus": colors.$color-primary,
      )
    )};
}

@mixin background-sprite-checkbox($sprite_number: 0, $extend: true, $width: 18px) {
  @if ($extend) {
    @extend .background-sprite-checkbox;
  }

  @include sprites.background-sprite($width, 28px, 28px, 28px, 400px, $sprite_number);
}

@mixin checkbox($checked: false, $offset: 0) {
  @if (not $checked) {
    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5em;
      margin-bottom: 0.15em;
      @include background-sprite-checkbox(0 + 2 * $offset);

      transition: background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    }
  } @else {
    &::before {
      @include background-sprite-checkbox(1 + 2 * $offset, false);
    }
  }
}

@mixin checkbox-outline {
  &::before {
    outline: none;
    box-shadow: colors.$outline-box-shadow;
  }
}

/**************************************************
* RADIO BOX
**************************************************/
//
.background-sprite-radiobox {
  background-image: #{svg(
      "src/styles/assets/form-radiobox.svg",
      (
        "color-background": colors.$color-input-background,
        "color-border": colors.$color-input-border,
        "color-mark": colors.$color-primary,
        "color-background-focus": colors.$color-input-background-focus,
        "color-border-focus": colors.$color-input-border-focus,
        "color-mark-focus": colors.$color-primary,
      )
    )};
}

@mixin background-sprite-radiobox($sprite_number: 0, $extend: true, $width: 18px) {
  @if ($extend) {
    @extend .background-sprite-radiobox;
  }

  @include sprites.background-sprite($width, 28px, 28px, 28px, 400px, $sprite_number);
}

@mixin radiobox($checked: false, $offset: 0) {
  @if (not $checked) {
    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5em;
      margin-bottom: 0.15em;
      border-radius: 50%;
      @include background-sprite-radiobox(0 + 2 * $offset);

      transition: background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    }
  } @else {
    &::before {
      @include background-sprite-radiobox(1 + 2 * $offset, false);
    }
  }
}

@mixin radiobox-outline {
  &::before {
    outline: none;
    box-shadow: colors.$outline-box-shadow;
  }
}
