@use "sass:color";
@use "/src/styles/settings";

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

input.nameInput {
  display: block;
  width: 100%;

  margin: settings.gap() 0;
  padding: 0 0 settings.gap(0.5);
  border: none;
  border-bottom: settings.border-width() solid settings.$color-input-border;
  border-radius: 0;
  background-color: transparent;

  font-size: 1.5rem;

  &:focus {
    border-bottom-color: settings.$color-input-border-focus;
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }
}

.card {
  position: relative;

  height: 120px;

  border-radius: 8px;
  background-color: white;
  box-shadow: settings.$light-box-shadow;
}

.cardDragging {
  box-shadow: 0 12px 24px rgba(settings.$color-primary, 0.3);
}

.cardTitle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 0.25em;

  padding: settings.gap();

  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.cardTitleText {
  font-weight: 600;
}

.cardDuration {
  font-size: 0.85em;
  color: settings.$color-grey;
}

.stretchedLink {
  position: absolute;
  inset: 0;
}

.deleteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;

  padding: 0 settings.gap();

  border-radius: 8px 0 0 8px;
  background-color: settings.$color-action;
  color: white;

  clip-path: inset(0 100% 0 0);
  transition: clip-path 150ms ease;
}

.deleteOverlayVisible {
  clip-path: inset(0 0 0 0);
}

.play {
  position: absolute;
  right: settings.gap(0.5);
  bottom: settings.gap(0.5);

  background-color: settings.$color-action;

  &:active {
    background-color: color.adjust(settings.$color-action, $lightness: -10%);
  }
}

.actionButton {
  background-color: settings.$color-action;

  &:active {
    background-color: color.adjust(settings.$color-action, $lightness: -10%);
  }
}
