@use "/src/styles/settings.scss";

.page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  color: settings.$color-primary;
  background-color: settings.$color-background-default;
}

.main {
  flex: 1;

  padding: settings.gap();
}

.mainWithBack {
  padding-top: calc(#{settings.gap(2)} + #{settings.$icon-size});
}
