@use "/src/styles/settings.scss";

.page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  color: settings.$color-primary;
  background-color: settings.$color-background-default;
  background-image: linear-gradient(180deg, settings.$color-background-gradient-start 0%, settings.$color-background-gradient-end 100%);
}

.main {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;

  padding: settings.gap();
}

.mainWithBack {
  padding-bottom: calc(#{settings.gap(2)} + #{settings.$icon-size});
}
