@use "/src/styles/settings";

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  color: settings.$color-menu;
  background-color: settings.$color-menu-background;
  box-shadow: settings.$light-box-shadow;
}

.title {
  flex: 1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0;
  padding: 0;
  min-height: settings.$icon-size;

  font-size: 1em;
  font-weight: bold;
  color: inherit;

  &:not(:last-child) {
    margin-right: settings.$icon-size;
  }
}

.back {
  display: block;
  order: -1;
}
